<header class="header">
  <div class="container">

    <div class="col-md-4">
      <a href="/" class="logo"></a>
    </div>

    <div class="col-md-8 text-right">
      <nav class="nav-primary">

        <ul class="menu">
          {% for nav in site.pages %}
            {% assign current_url = page.url|remove:'index.html' %}
            {% if nav.title and nav.menu %}
              <li {% if current_url == nav.url %}class="active"{% endif %}>
                <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

      </nav>
    </div>

  </div>
</header>
