// ====================================================
// Local variables
// ====================================================

$footer-background: $brand-primary;
$footer-color: white;


// ====================================================
// Styles
// ====================================================

.footer {
  background: $footer-background;
  color: $footer-color;
  display: block;
  float: left;
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  width: 100%;

  a {
    color: $footer-color;
    text-decoration: underline;
  }
}

.mailing-list {
  color: white;
  margin: 0 auto 40px auto;
  max-width: 300px;
  text-align: center;

  .form-control {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .btn-primary {
    background-color: darken($brand-primary, 5%);
  }
}
