// ====================================================
// Local variables
// ====================================================

$header-height: 180px;

$logo-image: url('../images/logo.png');


// ====================================================
// Styles
// ====================================================

.header {
  display: block;
  float: left;
  position: relative;

  @include respond-to($screen-md) {
    height: $header-height;
  }
}

.logo {
  background: $logo-image;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  display: inline-block;
  height: 140px;
  min-width: 250px;
  max-width: 400px;
  text-align: left;
  width: 100%;

  @include respond-to($screen-md) {
    height: $header-height;
  }
}

