// ====================================================
// Local variables
// ====================================================

$menu-background: none;
$menu-background-hover: none;
$menu-border-color: none;
$menu-border-width: 0;
$menu-color: #999;
$menu-color-active: $brand-secondary;
$menu-color-hover: $brand-secondary;
$menu-font-size: 1.4em;
$menu-height: $header-height;
$menu-item-padding: 60px;
$menu-padding: 10px;


// ====================================================
// Styles
// ====================================================

.nav-primary {
  background: $menu-background;
  display: block;
  width: 100%;

  @include respond-to($screen-md) {
    height: $menu-height;
  }
}

.menu {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  padding: 0;

  li {
    display: inline-block;
    font-size: $menu-font-size;
    font-weight: 500;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;

    @include respond-to($screen-md) {
      padding: $menu-item-padding 0;
    }

    a:link, a:visited, a:active {
      color: $menu-color;
      display: block;
      height: 100%;
      padding: 0px 20px;
      text-align: center;
      text-decoration: none;
      transition: border .3s, color .3s;

      @include respond-to($screen-md) {
        line-height: $menu-height - $menu-item-padding * 2;
      }

      &:hover {
        background: $menu-background-hover;
        color: $menu-color-hover;
      }
    }

    &.active a {
      border-bottom: 5px solid $menu-color-active;
      color: $menu-color-active;
    }
  }
}
