.full-height {
  height: 100%;
  position: relative;
}

.full-width {
  width: 100%;
}

.loader {
  display: block;
  padding: $loader-padding;
  text-align: center;
}

.loader-icon {
  background-image: $loader-image;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $loader-size;
  display: block;
  height: $loader-size;
  margin: 0 auto;
  width: $loader-size;
}

.no-wrap {
  white-space: nowrap;
}
